*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

html {
    scroll-behavior: smooth;
}

section.Sobre-Nos, section.AgendaSemanal {
    scroll-margin-top: 100px; /* Espaço acima do início da rolagem */
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e3e3e3;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}
/* Estilo do header */
header{
    width: 100%;
    padding: 20px 0;
    position: fixed;
    top: 0;
    left: 0;

    transition: .5s;

    z-index: 10;
}

 /* Alinhando itens do header */
 header .interface{  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Tamanho da logo */
header .LogoIgreja img { 
    max-width: 60px;
}

/* Estilo do menu dinâmico */

header .LogoIgreja img.logo-preta { 
    display: none;
}

header.rolar {
    background-color: #fff;
    padding: 10px 0;
   
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

header.rolar .Menu-Desktop nav ul li a {
    color: #000;
}

header.rolar .btn-contato button{
    color: #000;
    border: 1px solid #000;
}

header.rolar .btn-contato button:hover {
    background-color: #000;
    color: white;
}

header.rolar .LogoIgreja .logo-branca {
    display: none;
}

header.rolar .LogoIgreja .logo-preta {
    display: block;
}

/* Fim do estilo do Menu dinâmico */

header .Menu-Desktop nav ul {
list-style-type: none; /*Retirando as bolinhas da lista*/
}

header .Menu-Desktop nav ul li {
    display: inline-block; /*Alinhar o NAV um do lado do outro*/
    margin: 0 40px; /*Afastamento das opções*/
} 

/* Estilo do texto */
header .Menu-Desktop nav ul li a {
    color: #ffff;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
} 

/* Haver(Mouse em cima */
header .Menu-Desktop nav a:hover {
    transform:scale(1.05);
} 


/* Estilo do botão contato*/
header .btn-contato button {
    width: 140px;
    height: 50px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

header .btn-contato button:hover {
    background-color: #fff;
    color: black;
}

section.hero-site{
    height: 100vh; /*100% da altura da tela*/
    background-image: url(../imgs/BackGround2.png);
    background-repeat: no-repeat;
    background-size: cover; /*Cobrir todo o espaço*/
    background-position: center;
    color: #fff;

}

.hero-site .interface{
    display: flex;
    align-items: center;
    height: 100%;
}

.hero-site .txt-BemVindo h1{
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
}

/* Jogar o 'Seara' pra baixo  */
.hero-site .txt-BemVindo h1 span{
    display: block;
    font-weight: 700;
    color: bisque;
}

.hero-site .txt-BemVindo p{
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

section.Sobre-Nos {
    margin-top: 130px;
    margin-bottom: 130px;
    height: 700px;
    background-image: url(../imgs/Banner3.png); /*Foto fora da pasta*/
    background-position: center; /*Centraliuzar image*/
    background-size: cover; /*Cobrir todo espaço*/
    background-repeat: no-repeat; 
    position: relative;
    color: #fff;
    text-align: center;
    background-attachment: fixed; /*Imagem ficar parada */
} 

.Sobre-Nos > .overlay { /* '>' para dizer que quer editar a classe overlay */
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.753);
    width: 100%;
    height: 100%;
    z-index: 1; /* O position dos Z-INDEX precisam ser diferentes nas classes */
}

.Sobre-Nos > .interface {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /*Posiciona o texto*/
    flex-direction: column; /*Coloca o texto um em baixo do outro */
    z-index: 2;
    position: relative;
}

.Sobre-Nos h3{
    font-size: 3em;
    line-height: 50px;
    font-weight: 200;
}

.Sobre-Nos h3 span {
    display: block;
    font-weight: 700;
    color: bisque;
}

.Sobre-Nos p {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 300px;
}

/* Estilo da agenda  */
section.AgendaSemanal {
    padding: 80px;
}

.AgendaSemanal .itens-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 10%;
    margin-bottom: 60px;
}

.AgendaSemanal .itens-container .img-itens img {
    max-width: 480px;
    max-height: 367px;
    border-radius: 40px;
}

.AgendaSemanal .itens-container .txt-itens h3 {
    font-size: 3em;
    line-height: 50px;
    font-weight: 200;
    margin-bottom: 20px;

}
.itens-container .txt-itens h3 span {
    font-weight: 600;
}

.img-itens {
    border-radius: 40px;
    height: 367px;
    box-shadow: rgba(47, 100, 160, 0.4) 5px 5px, 
    rgba(1, 60, 128, 0.3) 10px 10px, 
    rgba(1, 60, 128, 0.2) 15px 15px,
    rgba(1, 60, 128, 0.1) 20px 20px,
    rgba(1, 60, 128, 0.05) 25px 25px;
}

/* Estilo dos botões de contato */
section.contato {
    background-color: #fff;
    padding: 80px 0;
    padding-bottom: 8;
}

.txt-contato, .icons-contato {
    display: inline-block; /*Botão e texto lado a lado*/
    width: 50%;
    margin-right: -4px;
    vertical-align: middle; /*Alinhando blocos*/
    padding-bottom: 70px;
} 

.contato .txt-contato h3{
    font-size: 2.5em;
    font-weight: 200;
    line-height: 50px;
    margin-bottom: 20px;
}

.contato .txt-contato h3 span{
    display: block;
    font-weight: 600;
}

.contato .icons-contato a {
    text-decoration: none;
}

.contato .icons-contato button p {
    font-size: 16px;
}

.contato .icons-contato button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    
    width: 60%;
    height: 60px;
    margin: 0 auto 20px auto;
    border: 2px solid black;
    border-radius: 4px;
    
    background-color: transparent;
    cursor: pointer;

    transition: 0.3s;
}

.contato .icons-contato button i {
    font-size: 24px;
}

.contato .icons-contato button:hover {
    background-color: rgba(0, 0, 0, 0.87)
}

.contato .icons-contato button:hover i, .contato .icons-contato button:hover p{
    color: #fff;
}

/* Seção Celulas */

section.Celulas {
    padding: 80px;
    background-color: #01121F;
}

.Celulas .nossas-celulas h3 {
    color: #fff;
    padding-top: 30px;
    font-size: 3.5em;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.instrucoes2 {
    padding-right: 30px;
}

.instrucoes {
    padding-left: 30px;
}

.instrucoes2, .instrucoes {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
}

/* Alinhando imagem e texto lado a lado da box */
.instrucoes2 .instru-box, .instrucoes .instru-box {
    background-color: #ffffffbe;
    display: flex;  
    align-items: center;
    gap: 20px;

    margin-bottom: 40px;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;

    box-shadow: rgba(255, 255, 255, 0.4) -5px 5px, 
    rgba(255, 255, 255, 0.3) -10px 10px, 
    rgba(255, 255, 255, 0.2) -15px 15px, 
    rgba(2255, 255, 255, 0.1) -20px 20px, 
    rgba(255, 255, 255, 0.05) -25px 25px;
    
}

.instrucoes2 .instru-box img, .instrucoes .instru-box img {
    max-width: 80px;
}

/* Estilo do Rodapé (Footer) */
footer {
    background-color: #000;
    width: 100%;
    text-align: center;    
    padding: 25px;
    height: 100%;
    margin: 0 0 -80px; /*Retirando margem branca do footer */
}

footer .top-footer button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
    transition: .5s;
    margin: 15px;
}

footer .top-footer button:hover {
    background-color: white;
    color: #000;
}

footer .bottom-footer {
    border-top: 2px solid #fff;
}

footer .bottom-footer p {
    color: #fff;
    margin-top: 10px;
    font-size: 14px;
}


footer .bottom-footer p1 {
    color: #fff;
    margin-top: 10px;
    font-size: 10px;
}

footer .bottom-footer .icons-dev button {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: .5s;
}