*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

html {
    scroll-behavior: smooth;
}

section.Sobre-Nos, section.AgendaSemanal, .midia, .devocional {
    scroll-margin-top: 100px; /* Espaço acima do início da rolagem */
}

.programacoes {
    scroll-margin-top: 250px;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #e3e3e3;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

/* Caixa de texto inicial */
.modal {
    display: none; /* Oculto por padrão */
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semi-transparente */
    z-index: 1000; /* Modal em cima de outros elementos */
    justify-content: center;
    align-items: center;
  }

  .modal .modal-content h3 {
    padding: 10px;
  }

  .modal-content {
    background-color: #ffffffda; /* Fundo branco com leve transparência */
    padding: 20px; /* Espaçamento interno de 20px ao redor do conteúdo */
    border-radius: 8px;
    width: 80%; /* Largura do modal fixada em 70% da tela */
    text-align: center;

    animation: fadeIn 0.5s ease;
    box-shadow: rgb(185, 198, 255) 0px 15px 25px -10px;
  }
  
  .close-button {
    position: absolute; /* Posiciona o botão de fechar de forma absoluta dentro do modal */
    top: 10px; /* Alinha o botão de fechar 10px abaixo do topo do modal */
    right: 10px;  /* Alinha o botão de fechar 10px à direita */
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0; /* Começa com opacidade 0 */
      transform: scale(0.9); /* Começa com uma escala reduzida */
    }
    to {
      opacity: 1; /* Aumenta a opacidade para 1 */
      transform: scale(1); /* Restaura a escala normal */
    }
  }

  .amen-button {
    margin-top: 20px;
    background-color: rgb(253, 200, 136); /* Amarelo */
    color: black;
    border: none; /* Remove a borda do botão */
    border-radius: 5px;
    padding: 8px 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Remove a borda do botão */
  }

  .amen-button:hover {
    background-color:rgb(248, 179, 94); /* Amarelo mais escuro ao passar o mouse */
    color: #000;
  }


/* Estilo do header */
header{
    width: 100%;
    padding: 20px 0px;
    position: fixed;
    top: 0;
    left: 0;

    transition: .5s;

    z-index: 10;
}

 /* Alinhando itens do header */
 header .interface{  
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Tamanho da logo */
header .LogoIgreja img { 
    max-width: 60px;
}

/* Estilo do menu dinâmico */

header .LogoIgreja img.logo-preta { 
    display: none;
}

header.rolar {
    background-color: #ffffff;
    padding: 10px 0;
   
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

header.rolar .Menu-Desktop nav ul li a {
    color: #000;
}

header.rolar .btn-contato button{
    color: #000;
    border: 1px solid #000;
}

header.rolar .btn-contato button:hover {
    background-color: #000;
    color: white;
}

header.rolar .LogoIgreja .logo-branca {
    display: none;
}

header.rolar .LogoIgreja .logo-preta {
    display: block;
}

/* Fim do estilo do Menu dinâmico */

header .Menu-Desktop nav ul {
list-style-type: none; /*Retirando as bolinhas da lista*/
}

header .Menu-Desktop nav ul li {
    display: inline-block; /*Alinhar o NAV um do lado do outro*/
    margin: 0 20px; /*Afastamento das opções*/
} 

/* Estilo do texto */
header .Menu-Desktop nav ul li a {
    color: #ffff;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
} 

/* Haver(Mouse em cima */
header .Menu-Desktop nav a:hover {
    transform:scale(1.05);
} 


/* Estilo do botão contato*/
header .btn-contato button {
    width: 140px;
    height: 50px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    cursor: pointer;
    transition: .5s;
}

header .btn-contato button:hover {
    background-color: #fff;
    color: black;
}

/* Estilo do botão do menu mobile */
header .btn-menu-mob {
    display: none;
    position: relative;
    z-index: 20;
}

header .btn-menu-mob div {
    background-color: #fff;
    height: 3px;
    margin: 10px 0;
    transition: .3s;
}

header .btn-menu-mob .line-menumob-1 {
    width: 30px;
}
header .btn-menu-mob .line-menumob-2 {
    width: 20px;
}

header.rolar .btn-menu-mob div {
    background-color:black;
}

header .btn-menu-mob .line-menumob-1.ativo1 { /*Rotação da linha do menu*/
    transform: rotate(45deg) translate(30%);
    background-color: #fff;
}

header .btn-menu-mob .line-menumob-2.ativo2 { /*Rotação da linha do menu*/
    transform: rotate(-45deg) translate(30%);
    width: 30px;
    background-color: #fff;
}

/* Estilo do menu mobile */
header .Menu-mobile{
    width: 0;
    height: 0;
    background-color: #000;
    position: absolute; /*Para se soltar do header*/
    top: 0;
    right:0;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    overflow: hidden;
    transition: .5s;
}

header .Menu-mobile nav ul {
    list-style-type: none;
}

header .Menu-mobile nav ul a {
    font-size: 22px;
    text-decoration: none;
    color: white;
    padding: 20px 0;
    display: block;

    transition: .5s;
}

header .Menu-mobile nav a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 20px #fff;
}

header .Menu-mobile nav {
    width: 100%;
}

header .Menu-mobile.abrir {
    width: 100%;
    height: 100vh;
}

body.no-overflow {
    overflow: hidden;
}

/* Seção bem vindo */
section.hero-site{
    height: 100vh; /*100% da altura da tela*/
    background-image: url(../imgs/BackGround2.png);
    background-repeat: no-repeat;
    background-size: cover; /*Cobrir todo o espaço*/
    background-position: center;
    color: #fff;

}

.hero-site .interface{
    display: flex;
    align-items: center;
    height: 100%;
}

.hero-site .txt-BemVindo h1{
    font-size: 4em;
    line-height: 70px;
    font-weight: 200;
}

/* Jogar o 'Seara' pra baixo  */
.hero-site .txt-BemVindo h1 span{
    display: block;
    font-weight: 700;
    color: bisque;
}

.hero-site .txt-BemVindo p{
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}


/* Seção sobre nós */
section.Sobre-Nos {
    margin-top: 130px;
    margin-bottom: 130px;
    height: 700px;
    background-image: url(../imgs/Banner3.png); /*Foto fora da pasta*/
    background-position: center; /*Centraliuzar image*/
    background-size: cover; /*Cobrir todo espaço*/
    background-repeat: no-repeat; 
    position: relative;
    color: #fff;
    text-align: center;
    background-attachment: fixed; /*Imagem ficar parada */
} 

.Sobre-Nos > .overlay { /* '>' para dizer que quer editar a classe overlay */
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.753);
    width: 100%;
    height: 100%;
    z-index: 1; /* O position dos Z-INDEX precisam ser diferentes nas classes */
}

.Sobre-Nos > .interface {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /*Posiciona o texto*/
    flex-direction: column; /*Coloca o texto um em baixo do outro */
    z-index: 2;
    position: relative;
}

.Sobre-Nos h3{
    font-size: 3em;
    line-height: 50px;
    font-weight: 200;
}

.Sobre-Nos h3 span {
    display: block;
    font-weight: 700;
    color: bisque;
}

.Sobre-Nos p {
    margin: 20px 0;
    font-size: 20px;
    font-weight: 300px;
}

/* Estilo da agenda  */

section.AgendaSemanal {
    padding: 10px;
}

.AgendaSemanal .txt-Agenda {
    margin-bottom: 30px;
}

.AgendaSemanal .txt-Agenda h3 {
    text-align: center;
    font-size: 3em;
    color: rgb(37, 94, 158);
}

.AgendaSemanal .txt-Agenda p {
    line-height: 20px;
    text-align: center;
    margin-bottom: 60px;
}

.AgendaSemanal .itens-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    gap: 10%;
    margin-bottom: 60px;
}

.AgendaSemanal .itens-container .img-itens img {
    max-width: 480px;
    max-height: 367px;
    border-radius: 40px;
}

.AgendaSemanal .itens-container .txt-itens h3 {
    font-size: 3em;
    line-height: 50px;
    font-weight: 200;
    margin-bottom: 20px;

}
.itens-container .txt-itens h3 span {
    font-weight: 600;
}

.img-itens {
    border-radius: 40px;
    height: 367px;
    box-shadow: rgba(47, 100, 160, 0.4) 5px 5px, 
    rgba(1, 60, 128, 0.3) 10px 10px, 
    rgba(1, 60, 128, 0.2) 15px 15px,
    rgba(1, 60, 128, 0.1) 20px 20px,
    rgba(1, 60, 128, 0.05) 25px 25px;
}

/* Seção Celulas */

section.Celulas {
    padding: 80px;
    background-color: #01121F;
}

.Celulas .nossas-celulas h3 {
    color: #fff;
    padding-top: 30px;
    font-size: 3.5em;
    font-weight: 600;
    line-height: 50px;
    margin-bottom: 40px;
    text-align: center;
}

.instrucoes2 {
    padding-right: 30px;
}

.instrucoes {
    padding-left: 30px;
}

.instrucoes2, .instrucoes {
    display: inline-block;
    width: 50%;
    margin-right: -4px;
    vertical-align: top;
}

/* Alinhando imagem e texto lado a lado da box */
.instrucoes2 .instru-box, .instrucoes .instru-box {
    background-color: #ffffffbe;
    display: flex;  
    align-items: center;
    gap: 20px;

    margin-bottom: 40px;
    border: 2px solid rgb(255, 255, 255);
    padding: 10px;

    box-shadow: rgba(255, 255, 255, 0.4) -5px 5px, 
    rgba(255, 255, 255, 0.3) -10px 10px, 
    rgba(255, 255, 255, 0.2) -15px 15px, 
    rgba(2255, 255, 255, 0.1) -20px 20px, 
    rgba(255, 255, 255, 0.05) -25px 25px;
    
}

.instrucoes2 .instru-box img, .instrucoes .instru-box img {
    max-width: 80px;
}

/* Programacoes */
/* Texto */
.txt-prog .texto {
    text-align: center;
    padding-top: 60px;
}

.txt-prog .texto h3 {
    font-size: 3.5em;
    font-weight: 600;
}

.txt-prog .texto p {
    font-size: 18px; 
} 

/* Box */
.programacoes {
    display: flex;
    width: 100%;
    padding: 3% 5%; /* Adiciona espaçamento interno de 4% nas partes superior/inferior e 2% nas laterais. */
    box-sizing: border-box; /* Faz com que o padding seja incluído no cálculo da largura e altura. */
    height: 65vh;
    margin-bottom: 60px;
    opacity: 0;
    transform: translateY(50px); /* 50Px abaixo */
    transition: all 4.5 ease-out;
  }

.programacoes.show {
    opacity: 1; /* Torna visível */
    transform: translateY(0); /* Retorna à posição original */
}
  
.box-programacoes {
    flex: 1; /* Mesmo espaço que ocupa no .programacoes */
    overflow: hidden; /* Conteudo que passar a caixa fique escondido */
    transition: .5s;
    margin: 0 1.5%;
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    line-height: 0;
    opacity: 0; /* Inicialmente invisível */
    animation: fadeIn 4.5s ease-out forwards;
    border-radius: 10px;
  }

.box-programacoes:nth-child(1) {
    animation-delay: 1.5s; /* Primeiro item */
}

.box-programacoes:nth-child(2) {
    animation-delay: 1.7s; /* Segundo item */
}

.box-programacoes:nth-child(3) {
    animation-delay: 1.9s; /* Terceiro item */
}

.box-programacoes:nth-child(4) {
    animation-delay: 2.1s; /* Quarto item */
}

.box-programacoes.item-4 { 
    box-shadow: rgb(57, 138, 93) 0px 20px 30px -10px
} 

.box-programacoes.item-5 { 
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px; 
} 

.box-programacoes.item-6 { 
    box-shadow: rgb(46, 100, 248) 0px 20px 30px -10px; 
} 

.box-programacoes.item-7 { 
    box-shadow: rgb(228, 95, 194) 0px 20px 30px -10px; 
} 
  
.box-programacoes> img {
    width: 125%;
    height: calc(100% - 8vh);
    object-fit: cover; 
    transition: .5s;
}
  
.box-programacoes > span {
    font-size: 3vh;
    display: block;
    text-align: center;
    height: 10vh;
    line-height: 2.6;
  }
  
.box-programacoes:hover { flex: 1 1 50%; } /*Quando o cursor passa sobre uma caixa, ela se expande para ocupar 50% do espaço disponível, enquanto as outras caixas se ajustam proporcionalmente. */
.box-programacoes:hover > img {
    width: 100%;
    height: 100%;
}

@keyframes fadeIn { /* Regra de animação */
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Devocionais  */
/* Devocionais  */

section.devocional {
    height: 100vh; /* 100% da altura da tela */
    background-image: url(../imgs/BackGround-devocional.png);
    background-repeat: no-repeat;
    background-size: cover; /* Cobrir todo o espaço */
    background-position: center;
    color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.devocional .interface {
    display: flex;
    flex-direction: column; /* Organizar os elementos em coluna */
    align-items: flex-start; /* Garantir alinhamento à esquerda */
    padding: 10px; /* Adicionar um espaçamento interno */
    height: 100%;
}

.devocional .txt-devocional-principal {
    text-align: center; /* Alinhar o título e subtítulo ao centro */   
    padding-left: 202px;
    max-width: 80%; /* Limitar a largura */
    color:#302f2f ;
}

.devocional .txt-devocional-principal h3 {
    padding-top: 50px;
    font-size: 4em;
    line-height: 1.2; /* Ajustar o espaçamento entre linhas */
    font-weight: 600;
}

.devocional .txt-devocional-principal p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 15px;
}

.devocional .txt-devocional {
    margin: 25px 25px 0 25px; /* Margem para espaçamento adequado */
    max-width: 57%; /* Limitar a largura horizontal do texto */
}

.devocional .txt-devocional span {
    font-size: 20px;
    text-align: center;
    display: block;
    color: hsl(35, 55%, 17%);
    font-weight: normal;
}

.devocional .txt-devocional h1 {
    font-size: 20px;
    text-align: center;
    display: block;
    color: hsl(35, 55%, 17%);
    font-weight: normal;
}

.devocional .txt-devocional p {
    text-align: left;
    margin-top: 25px; /* Espaçamento entre parágrafos */
    font-size: 16px; /* Ajuste do tamanho da fonte */
    line-height: 1.8; /* Melhorar a legibilidade */
    color: hsl(35, 55%, 17%);
}

/* Midia e Líve */
.midia {
    width: 100%;
    padding: 40px 20px; /* Espaçamento interno da seção */
    display: flex;
    justify-content: center;
    background-color: #01121F; /* Cor de fundo para a seção */
}

.midia .txt-multimidia {
    padding: 30px;
    color: bisque;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}

.opcoes-midia {
    display: flex;
    gap: 40px; /* Espaçamento horizontal entre as divs */
    width: 100%;
}

.fotos, .live {
    flex: 1; /* Espaço proporcional */
    padding: 20px; /* Espaçamento interno */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    border-radius: 8px; /* Cantos arredondados */
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Imagem dentro de cada div */
.img-fotos-box img, .img-live-box img {
    width: 100px; /* Tamanho da imagem */
    height: auto;
    margin-bottom: 15px; /* Espaço entre a imagem e o texto */
}

/* Título dentro de cada div */
.txt-fotos-box h4, .txt-live-box h4 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #1d1d1d;
}

/* Texto das descrições */
.txt-fotos-box p, .txt-live-box p {
    font-size: 1rem;
    color: #0a0a0a;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Botão de cada div */
.btn-fotos button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #007bff; /* Cor do botão */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-fotos button:hover {
    background-color: #01254b; /* Cor ao passar o mouse */
}

.fotos, .live {
    background-color: #fff7f7;
    margin-bottom: 40px;
}


/* Estilo dos botões de contato */
section.contato {
    background-color: #fff;
    padding: 80px 0;
    padding-bottom: 8;
}

.txt-contato, .icons-contato {
    display: inline-block; /*Botão e texto lado a lado*/
    width: 50%;
    margin-right: -4px;
    vertical-align: middle; /*Alinhando blocos*/
    padding-bottom: 70px;
} 

.contato .txt-contato h3{
    font-size: 2.5em;
    font-weight: 200;
    line-height: 50px;
    margin-bottom: 20px;
}

.contato .txt-contato h3 span{
    display: block;
    font-weight: 600;
}

.contato .icons-contato a {
    text-decoration: none;
}

.contato .icons-contato button p {
    font-size: 16px;
}

.contato .icons-contato button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    
    width: 60%;
    height: 60px;
    margin: 0 auto 20px auto;
    border: 2px solid black;
    border-radius: 4px;
    
    background-color: transparent;
    cursor: pointer;

    transition: 0.3s;
}

.contato .icons-contato button i {
    font-size: 24px;
}

.contato .icons-contato button:hover {
    background-color: rgba(0, 0, 0, 0.87)
}

.contato .icons-contato button:hover i, .contato .icons-contato button:hover p{
    color: #fff;
}

section.versiculo{
    text-align: center;
    padding-bottom: 20px;
}

/* Estilo do Rodapé (Footer) */
footer {
    background-color: #000;
    width: 100%;
    text-align: center;    
    padding: 25px;
    height: 100%;
    margin: 0 0 -80px; /*Retirando margem branca do footer */
}

footer .top-footer button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
    transition: .5s;
    margin: 15px;
}

footer .top-footer button:hover {
    background-color: white;
    color: #000;
}

footer .bottom-footer {
    border-top: 2px solid #fff;
}

footer .bottom-footer p {
    color: #fff;
    margin-top: 10px;
    font-size: 14px;
}


footer .bottom-footer p1 {
    color: #fff;
    margin-top: 10px;
    font-size: 10px;
}

footer .bottom-footer .icons-dev button {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    transition: .5s;
}
